#mostrar_mas {
  width: fit-content;
  margin: auto;
  display: block;
  width: 8rem;
  height: 2rem;
  border-radius: 1rem;
  background-color: var(--rtc-color-2);
  border: 1.2px solid;
  cursor: pointer;
}

#div_footer {
    /* position: absolute; */
    bottom: 0;
    left: 50%;
}
